@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar";

@theme {
  --color-brand-300: #996dff;
  --color-brand-500: #8257e6;
   --radius-md: 4px;
}

:focus {
  outline: transparent;
}

body {
  @apply bg-[#09090A] text-zinc-100;
}
